body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.container {
  position: relative;
  max-width: 880px;
  margin: 60px auto;
  padding: 0 20px;
  z-index: 100;
  .uploadField {
    text-align: center;
    .fileContainer {
      position: relative;
      margin: 0 auto 40px auto;
      max-width: 640px;
      height: 80px;
      border: 2px dashed #cccccc;
      .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        line-height: 80px;
        color: #cccccc;
        z-index: 1;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 100;
        opacity: 0;
        cursor: pointer;
      }
    }

    button {
      vertical-align: bottom;
      font-size: 16px;
      width: 120px;
      text-align: center;
      line-height: 40px;
      border-radius: 4px;
      padding: 0;
      border: 2px solid #1d9d74;
      background-color: #1d9d74;
      color: #FFFFFF;
      &:hover {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #1d9d74;
      }
    }
  }

  .searchField {
    height: 30px;
    text-align: right;
    margin: 80px 0 20px 0;
    input {
      font-size: 16px;
      width: 260px;
      height: 30px;
      text-indent: 1em;
      &:focus {
        outline-style: none;
        border: 1px solid #cccccc;
      }
    }
    button {
      display: inline-block;
      width: 60px;
      height: 36px;
      vertical-align: top;
      padding: 0;
      margin-left: -2px;
      color: white;
      background-color: #1d9d74;
      border: none;
      &:hover {
        cursor: pointer;
        color: #1d9d74;
        border: 1px solid #1d9d74;
        background-color: white;
      }
    }
  }

  .qrcode {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    background-color: #FFF;
    border: 2px solid #444;
    a {
      position: absolute;
      top: -10px;
      right: 0;
      padding: 8px;
      font-size: 36px;
      cursor: pointer;
      color: grey;
    }
  }
}